* text=auto
*.cs text eol=lf
*.asmdef text eol=lf
*.json text eol=lf
*.md text eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.png binary
*.psd binary
*.wav binary
*.ogg binary
